# --- project related ---

# jupyter notebook files will be trasfered without git tracking.
# *.ipynb 

# --- nextcloud related ---
*.sync-conflict-*

# --- python related ---
.*
!.gitignore
__pycache__/
*.py[cod]

#.venv/
#.idea/
#.vscode/

